{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
  Тут я размещу информацию о себе, используя свои умения верстать, не очень.
    Привет, я Дима и мне 21 год.
</p>
<p>
  С программированием я познакомился ещё в школе в 10м классе.
  Хоть я и был хорошистом, тогда я уже капитально забил на учёбу и привык, что новые 
  математические формулы, интегралы не вызывали ничего кроме недоумения и брезгливого отторжения. 
  На уроке информатики нам выдали бланки с текстом на непонятном и доселе не виданом языке. 
  Но все эти каскадные строки, на удивление, вызвали у меня не скуку и тоску. Они заинтересовали
  меня своим расположением символов. Непонятным образом расставление точки с запятыми, скобочки, 
  новые строки начинающиеся не с начала страницы, а с трёх пробелов под предыдущими. 
  Всё это было незнакомо, странно, но очень логично. Среди этих символов читалась четкая структура, 
  и она к чему то вела.

  Позже я узнал что это был бейсик. 
  Хоть в тот момент мне и было интересно, днем меня ждали двое репетиторов, а вечером дота сама 
  в себя не поиграет, ведьмак сам себя не пройдёт. Так и я забыл о коде на долгие годы. 
</p>
<p>
  Потом меня засунули в универ на Информационную безопасность, к концу первого курса я более 
  менее понял, что представляет из себя специальность и просто ходил на пары, продавал конспекты
  и пытался хоть как-то себя занять. Все друзья разъехались по разным городам, а из одногруппников 
  мои интересы никто не разделял. Не сочтите меня нарциссом или изгоем, просто мне не нравится 
  с утра до вечера смотреть аниме, ставить на футбол и сидеть в подъезде запивая чипсы портвейном. 
</p>
<p>
  Из-за одиночества, безделия и неспособности найти занятие для своего пытливого ума, я долгое время 
  был в депрессии. Я придумывал всяческие занятия. Я дополнительно отучился на технического переводчика,
  получил диплом и прошёл практику в компании DevExpress. Этого было не достаточно. Я занялся монтажём 
  видео, долгие часы сидел над роликами, ездил в москву на съемки, работал с каналами и даже был приглашён 
  поснимать концерт популярного у школников репера OG Bydda. Этого тоже было не достаточно.
</p>
<p>
  И вот однажды на лабораторных по криптографии нам дали задание написать шифр на языке Python.
  Я ничего не знал о нем, но когда получил бланк с заданием тут же вспомнил свои школьные годы. 
  Я вспомнил как сидел взахлёб читая непонятные мне иерогрифы, пытаясь найти в них алгоритм работы,
  пытаясь понять как мне сделать это своими руками.
</p>
<p>
  И тут понеслось. Я сделал лабораторные всей группе, а второкурсники с моего направления до сих пор обращаются ко мне
  за помощью. Курсовые, где надо было написать программу для обработки базы данных, я, и ещё трое моих друзей, писали 
  сами. На защите приходилось доказывать преподам, что мы не покупали готовые программы. Потому как 27 человек до этого не могли 
  рассказать ничего о их коде.
</p>
<p>
  Вот то самое дело, вот то, что мне нравится. Я был очень рад, часами читая документацию и смотря гайды на ютубе. 
  Вдовесок к моим знаниям о шифрах и гостах я уже представлял как стану новым билом гейтсвом. Много раз пытался написать какую-нибудь 
  фичу для вуза, типа электронных журналов, программ для посещаемости, карту как в гарри потере, которая бы брала расписание с сайта вуза, И
  показывала где сейчас тот или иной препод, в каких они аудиториях и корпусах. 

</p>
<p>
  Но мне не хватало структурированных знаний, чёткого плана обучения. Всё что я знал и умел ограничевалось гайдами на ютубе. 
  Так в моей жизни появися <span style="color:red">Яндекс.практикум</span>. Я с удовольствием читал теорию и решал задания в треннажёре. 
  Если бы не диплом в вузе я бы уже перегнал программу и экстерном закончил пару курсов.
</p>
<p>
  Наконец-то в моей жизни появилась цель, да звучит громко, но так и есть! Все мои знания, все навыки, всё что я делал и учил теперь 
  выстроились в одну цепочку, один план. Теперь я чётко знаю что делать. Все 20 лет я просто плыл по течению изредка меняя свою жизнь 
  в рамках меню в ресторане или видео на ютубе. Теперь же я вижу и я настроен серьёзно. 
<p>
  Окончив курсы пойду работать, не важно куда, главное чтобы копился опыт работы и оттачивались нужные навыки. 
</p>
<p>
  Окончив универ заполучу два диплома - Специалист по Информационной безопасности и Технический переводчик. 
  С таким портфолио и несколькими месяцами стажа программиста Я буду иметь какой никакой весь на рынке. 
</p>
<p>
  Устроюсь в пентагон, и больше никогда не буду онлайн. 
  Вот мой краткий план действий, надеюсь всё получится. 
</p>
<a href="http://127.0.0.1:8000/">Back to the Choppa</a>
{% endblock %} 